.login {
    &-container {
        height:100%;
    }

    &-sidebar {
        background:$primary-color-1;
        height: 100%;
    }

    &-form {
        align-self: center;

        &-container {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }    
}